<div class="footer">
  <div class="row container top">
    <div class="col-2">
      <img src="https://twimgs.com/nojitter/gama/UBM_Logo_White.png" alt="UBM Logo">
    </div>
    <div class="col-10">
      <ul class="tech group">
        <li class="title">TECHNOLOGY GROUP</li>
        <li *ngFor="let link of techLinks1"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
      <ul class="tech">
        <li *ngFor="let link of techLinks2"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
      <ul class="tech">
        <li *ngFor="let link of techLinks3"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
      <ul class="tech">
        <li *ngFor="let link of techLinks4"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
      <ul>
        <li class="title">COMMUNITIES SERVED</li>
        <li *ngFor="let link of communityLinks"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
      <ul>
        <li class="title">WORKING WITH US</li>
        <li *ngFor="let link of workingLinks"><a href={{link.link}}>{{link.name}}</a></li>
      </ul>
    </div>
  </div>
  <div>
    <ul id="legal">
      <li *ngFor="let link of legalLinks"><a href={{link.link}}>{{link.name}}</a></li>
      <li>Copyright (c) 2018 UBM, All rights reserved</li>
    </ul>
  </div>
</div>
