.container {
  background-color: transparent;
  min-width: 1006px;
}
.wrapper {
  min-width: 838px;
  max-width: 838px;
  background-color: white;
}
.col-3 {
  padding-left: 2px;
  padding-right: 2px;
}
img {
  margin-bottom: 20px;
}
.row {
 background-color: #EEE;
 border: solid black 1px;
}
.col-3 {
  border: solid black 1px;
}
.col-6 {
  border: solid black 1px;
}
footer {
  border-top: 1px solid yellow;
  padding-top: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
}
