<div>
  <h2>Post a new article</h2>
  <label>Title of new article</label>
  <input class="form-control" #newTitle>
  <label>Your name (author)</label>
  <input class="form-control" #newAuthor>
  <label>URL for image thumbnail</label>
  <input class="form-control" #newImage>
  <label>Write your post below:</label>
  <textarea class="form-control" #newParagraphs rows="5"></textarea>
  <br>
  <button class="btn" (click)="submitNewArticle(newTitle.value, newAuthor.value, newImage.value, newParagraphs.value); newTitle.value=''; newAuthor.value=''; newImage.value=''; newParagraphs.value=''">Submit my Article!</button>
</div>
<br>
<button (click)="goHome()" class="button">Go Back To Homepage</button>
