.wrapper {
  max-width: 838px;
  height: 30px;
  background-color: #DDD;
}


div {
  display: inline-block;
  font-size: 9px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
}


.jobs {
  display: block;
  float: left;
  background: linear-gradient(#dd8d34, #d96a00);
  background-clip: border-box;
  width: 124px;
  text-align: center;
  vertical-align: middle;
}
.jobs a {
  color: white;
  text-decoration: none;
}
.jobs a:hover {
  cursor: pointer;
  text-decoration: underline;
}


.nav {
  width: 502px;
}
.nav a {
  margin: 0px 25px 0px 25px;
  color: #336658;
}
.nav a:hover {
  text-decoration: underline;
}


.search {
  display: block;
  width: 208px;
  text-align: center;
  float: right;
  color: white;
  background: linear-gradient(#888, #333);
}
input {
  border: 0px;
  padding: 0px;
  height: 25px;
  margin-left: 10px;
  margin-right: 5px;
}
button {
  color: white;
  border: 1px;
  padding: 0px;
  width: 21px;
  height: 16px;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
  text-decoration: underline;
}
